
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Fredoka', sans-serif;
}
.bg-blue{
    background-color: #0F0E17;
}

.bg-red{
    color:#E53170;
}
.bg-light-blue{
    color: #0093E7
}
.mg{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.mg-p{
    text-align: center;
    margin-bottom: 20px;
    

}
.text{
    text-align:center
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
    align-content:;
    justify-content: space-between;
    gap: 20px;
    text-align: center;

}
.bg-white{
    color: white;
}
.card{
    display: flex;
    background-color: #0F0E17;
    width: 25%;
    align-items: space-between;
    justify-content: flex-start;
    margin-top: 20px;
    text-align: left;
    
}

.misure{
    width: 100px;
    height: 100px;
}
.cardtext{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
main{
    width: 90%;
    margin:0 auto;
   

    padding: 40px;

}
.box-shadow{
    -moz-box-shadow:  10px  10px 5px #dedede;
  -webkit-box-shadow:  10px  10px 5px #dedede;
}