
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Fredoka', sans-serif;
}
.bg-blue{
    background-color: #0F0E17;
}

.bg-red{
    color:#E53170;
}
.bg-light-blue{
    color: #0093E7
}
.mg{
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 600px;
    margin-bottom: 30px;
}
.mg-p{
    margin-right: 300px;
    margin-left: 300px;
    

}
.text{
    text-align:center
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    gap: 20px;

}
.bg-white{
    color: white;
}
.card{
    display: flex;
    background-color: #0F0E17;
    width: 30%;
    height: ;
    align-items: space-between;
    justify-content: space-between;
    margin-top: 20px;
    
}

.misure{
    width: 100px;
    height: 100px;
}
.cardtext{
    margin-right: -10px;
}